// .tomato
//     background: tomato
//     height: 200px
//     border: 1px solid white

// .teal
//     background: teal
//     height: 400px
//     border: 1px solid white

// .wheat
//     background: wheat
//     height: 200px
//     border: 1px solid white


.info-block
    border-bottom: 4px solid
    margin-bottom: 40px

    p
        line-height: 18px

    h3
        font-weight: 300
        margin-top: 40px

section.focus
    .info-block
        border-bottom-color: $theme-blue

section.collaborate
    .info-block
        border-bottom-color: $theme-purple

section.play
    .info-block
        border-bottom-color: $theme-pink


// CHAIRS
.chairs
    .small-6:nth-child(2)
        margin-bottom: 79px

@media #{$small-only}
    .chairs .small-6:nth-child(2)
        margin-bottom: 31px

@media #{$medium-only}
    .chairs .small-6:nth-child(2)
        margin-bottom: 59px



// TECHNOLOGY

@media #{$small-only}
    .tech
        .bump40
            margin-top: 0px





