#video-wrapper
    max-height: 600px
    overflow: hidden
    width: 100%
    top: 0
    opacity: 0.8

    video
        width: 100%
        height: auto



.header
    margin-bottom: 30px

    .title
        z-index: 2
        position: absolute

    h1
        color: white


@media #{$small-only}
    .title
        top: 20%


@media #{$medium-only}





