* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

textarea, input, button { outline: none; }



.res-img {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.res-img {
  *display: inline;
    .inner {
      display: block;
      height: 0;
    }
}
