// Icon Fonts
@import url("http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css");

// Font Face
@include fontFace ('StiffStaff','../fonts/StiffStaff-webfont');

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:400,400italic,500,700,100);

$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;


// Layout
body {
	font-size: 14px;
    font-family: $roboto;
}

p {
    font-familY: $roboto;
    font-size: 12px;
    line-height: 14px;

}


// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	font-family: $roboto;
}

a {
	text-decoration: none;
}

h1 {
    font-family: "StiffStaff";
    color: white;
    font-size: 80px;
    line-height: 90px;
}

h3 {
    font-family: $roboto;
    font-size: 30px;
    margin: 0px;
    letter-spacing: .05em;
}

h4 {
    font-size: 22px;
    font-family: $oswald;
    letter-spacing: .05em;
}

h5 {
    color: inherit;
}


h6 {
    font-family: $oswald;
    font-size: 14px;
}


ul {
    font-size: 12px;

    li {
        list-style-type: initial;
    }
}







